/GXCraft.dol
/GXCraft.elf
/GXCraft.zip
/rawdata.rgb
/wii_screenshot.png
/GXCraft/
/build/
/source/textures/*.c
/source/textures/*.h
/source/textures/inv_blocks/*.c
/source/textures/inv_blocks/*.h
/source/textures/inv_blocks/BlockIcons.cpp
/source/textures/inv_blocks/BlockIcons.hpp
