GXCraft.dol
GXCraft.elf
rawdata.rgb
wii_screenshot.png
build/
source/textures/*.c
source/textures/*.h
source/textures/inv_blocks/*.c
source/textures/inv_blocks/*.h
source/textures/inv_blocks/BlockIcons.cpp
source/textures/inv_blocks/BlockIcons.hpp
